@using SolucionesARWebsite.Helpers
@using SolucionesARWebsite.ModelsWebsite.Views.Users

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Usuarios";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}


@section EditionContent {
    <div class="edition_content content_box ">
        
        @if (Model.UserId > 0)
        {
            <h1>EDITAR USUARIO</h1>
            <div class="entry" style="overflow: hidden; padding: 0px; width: 410px;  height: 100px;">
                <div class="jspContainer" style="width: 410px;  height: 100px;">
                    <div class="jspPane" style="padding: 15px 25px 0px; top: 0px; width: 200px;">
                        <h3>Código: <span>@Model.GeneratedCode</span></h3>
                        <h3>Cashback: <span>@Model.Cashback</span></h3>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h1>NUEVO USUARIO</h1>
        }

        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Save", "Users"))
                    {
                        @Html.HiddenFor(model => model.UserId)
                        <fieldset>
                            @Html.EditorFor(model => model.CedNumber)
                            @Html.EditorFor(model => model.FirstName)
                            @Html.EditorFor(model => model.LastName1)
                            @Html.EditorFor(model => model.LastName2)
                        </fieldset>
                        <fieldset>
                            @Html.EditorFor(model => model.Dob)
                            @Html.EditorFor(model => model.PhoneNumber)
                            @Html.EditorFor(model => model.Cellphone)
                            @Html.EditorFor(model => model.Email)
                        </fieldset>
                        <fieldset>
                            @Html.EditorFor(model => model.State)
                            @Html.EditorFor(model => model.City)
                            @Html.EditorFor(model => model.Address1, new { style = "width=400px" })
                        </fieldset>
                        <fieldset>
                            @Html.EditorFor(model => model.ParentUser)
                            <span>
                                @Html.LabelFor(model => model.Rol) <br/>
                                @Html.DropDownListForRolesList(model => model.Rol.RolId)
                            </span>
                            <span>
                                @Html.LabelFor(model => model.Company) <br/>
                                @Html.DropDownListForCompanieslList(model => model.Company.CompanyId)
                            </span>
                        </fieldset>
                            
                        <input name="submit" type="submit" value="Submit">
                    }
                </div>
            </div>
        </div>
    </div>
}
