@using PagedList.Mvc; 
 
@using SolucionesARWebsite.ViewModels.Users

@model IndexViewModel


@{
    ViewBag.Title = "SolucionesAR | Usuarios";
    Layout = "~/Views/Shared/TableLayout.cshtml";
}

@section Messages {
}

@section ListTitle {
    USUARIOS
}

@section ListPaging {
    @{      
        @Html.PagedListPager(Model.PagedItems,
            page => Url.Action("Index", new RouteValueDictionary {
               { "Page", page },
               { "EmailAddress", Model.EmailAddress },
               { "LastName", Model.LastName }
            }),
            PagedListRenderOptions.OnlyShowFivePagesAtATime)
    }   
}

@section ListActions {
    
    @Html.ActionLink("Nuevo Usuario", "Create", null, new { @class = "button" })
}

@section ListContent {
    <div class="entry jspScrollable">
        <div class="table_style">
            <table>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Cédula
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Cashback
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Habilitado
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.PagedItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GeneratedCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CedNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LName1)
                            @Html.DisplayFor(modelItem => item.LName2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cashback)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserRol.Name)
                        </td> 
                        <td>
                            @Html.Encode(item.Enabled ? "Habilitado" : "Deshabilitado")
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.UserId }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.UserId }) 
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}