@using SolucionesARWebsite2.ViewModels.Roles

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Roles";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}


@section Header {
    @if (Model.RolId > 0)
    {
        <h1>EDITAR ROL</h1>
    }
    else
    {
        <h1>NUEVO ROL</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}

@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("Save", "Roles"))
                {
                    @Html.HiddenFor(model => model.RolId)
                    <fieldset>
                        @Html.LabelFor(model => model.RolName)
                        @Html.TextBoxFor(model => model.RolName)
                        @Html.ValidationMessageFor(model => model.RolName)
                    </fieldset>
                    <input name="submit" type="submit" value="Guardar">
                }
            </div>
        </div>
    </div>
}