@using SolucionesARWebsite2.ViewModels.Provinces

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Provincias";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}


@section Header {
    @if (Model.ProvinceId > 0)
    {
        <h1>EDITAR PROVINCIA</h1>
    }
    else
    {
        <h1>NUEVA PROVINCIA</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}

@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("Save", "Provinces"))
                {
                    @Html.HiddenFor(model => model.ProvinceId)

                    <fieldset>
                        @Html.LabelFor(model => model.ProvinceName)
                        @Html.TextBoxFor(model => model.ProvinceName)
                        @Html.ValidationMessageFor(model => model.ProvinceName)
                    </fieldset>
        
                    <br/><br/>  
                    <input name="submit" type="submit" value="Guardar">
                }
            </div>
        </div>
    </div>
}