@using SolucionesARWebsite2.ViewModels.RelationshipTypes

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Relaciones";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}


@section Header {
    @if (Model.RelationshipTypesId > 0)
    {
        <h1>EDITAR TIPO DE RELACION</h1>
    }
    else
    {
        <h1>NUEVO TIPO DE RELACION</h1>
    }
    
}

@section Messages {
    @Html.ValidationSummary()
}

@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("Save", "RelationshipTypes"))
                {
                    @Html.HiddenFor(model => model.RelationshipTypesId)

                    <fieldset>
                        @Html.LabelFor(model => model.Description)
                        @Html.TextBoxFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </fieldset>
                    
                    <br/><br/>
                    <input name="submit" type="submit" value="Guardar">
                }
            </div>
        </div>
    </div>
}