@using SolucionesARWebsite.ViewModels.Views.RelationshipTypes
@model IndexViewModel

@{
    ViewBag.Title = "SolucionesAR | Relaciones";
    Layout = "~/Views/Shared/TableLayout.cshtml";
}

@section Messages {
}

@section ListTitle {
    RELACIONES
}

@section ListActions {
    @*@if (Model.RelationshipTypesList.HasFilters())
    {
        @Html.ActionLink("Mostrar Todo", "Index", null, new { @class = "button" } )
    }*@
        @Html.ActionLink("Nueva RELACION", "Create", null, new { @class = "button" })
    @*}*@
}
@section ListContent {

    <div class="entry jspScrollable">
        <div class="table_style">
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        descripcion
                    <th></th>
                </tr>

                @foreach (var item in Model.RelationshipTypesList.Items) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RelationshipTypeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.RelationshipTypeId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@section ListPaging {
    @{
        /*
        @Html.DropDownListForPaging(4, 5, Model.RouteValues)
        var totalLabel = Model.UsersList.TotalItems != 1 ? "users" : "user";
        @ListHelper.TotalItems(Model.UsersList.TotalItems, totalLabel)
        @ListHelper.Paging(Url, Model.UsersList)
        */
    }
}