@using SolucionesARWebsite.Helpers
@using SolucionesARWebsite.ModelsWebsite.Views.Inventory

@model IndexViewModel

@{
    ViewBag.Title = "SolucionesAR | Inventarios";
    Layout = "~/Views/Shared/TableLayout.cshtml";
}

@section Messages {
}

@section ListTitle {
    INVENTARIO
}

@section ListActions {
    @if (Model.InventoryList.HasFilters())
    {
        @Html.ActionLink("Mostrar Todo", "Index", null, new { @class = "button" } )
    }
        @Html.ActionLink("Nuevo Inventario", "New", null, new { @class = "button" })
    }
}

@section ListContent {
    <div class="entry jspScrollable">
        <div class="table_style">
            <table>
                <tr>
                    <th>
                        Compañia
                    </th>
                    <th>
                        Reportador
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
}

@section ListPaging {
    @{
        /*
        @Html.DropDownListForPaging(4, 5, Model.RouteValues)
        var totalLabel = Model.UsersList.TotalItems != 1 ? "users" : "user";
        @ListHelper.TotalItems(Model.UsersList.TotalItems, totalLabel)
        @ListHelper.Paging(Url, Model.UsersList)
        */
    }
}
