@using SolucionesARWebsite2.Helpers
@using SolucionesARWebsite2.ViewModels.Reports
@model CompanyReportViewModel
@{
    ViewBag.Title = "SolucionesAR | Reportes";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}
@section Header {
    <h1>
        Compañia</h1>
}
@section Messages {
}
@section EditionContent {
    <h1>
        Reporte Ventas por Compañia</h1>
    @using (Html.BeginForm("Company", "Reports"))
    {
        <fieldset>
            <span>
                @Html.LabelFor(model => model.CompaniesList)
                <br />
                @Html.DropDownListForCompaniesList(model => model.Company.CompanyId)
            </span>
        </fieldset>
        <fieldset>
            <span>
                @Html.LabelFor(model => model.BeginningDate)
                <br />
                @Html.EditorFor(model => model.BeginningDate)
            </span><span>
                @Html.LabelFor(model => model.BeginningDate)
                <br />
                @Html.EditorFor(model => model.EndingDate)
            </span>
        </fieldset>
        <input name="submit" type="submit" value="Generar Reporte">
    }
}
