@using SolucionesARWebsite2.Helpers
@using SolucionesARWebsite2.ViewModels.Reports
@model CustomerReportViewModel
@{
    ViewBag.Title = "SolucionesAR | Reportes";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}
@section Header {
    <h1>
        Cliente</h1>
}
@section Messages {
    @Html.ValidationSummary()
}
@section EditionContent {
    <h1>
        Reporte Ventas por Vendedor</h1>
    @using (Html.BeginForm("Customer", "Reports"))
    {
        <fieldset>
            <span>
                @Html.LabelFor(model => model.CustomerList)
                <br />
                @Html.DropDownListForCustomersList(model => model.Customer.UserId)
            </span>
        </fieldset>
        <fieldset>
            <span>
                @Html.LabelFor(model => model.BeginningDate)
                <br />
                @Html.EditorFor(model => model.BeginningDate)
            </span><span>
                @Html.LabelFor(model => model.BeginningDate)
                <br />
                @Html.EditorFor(model => model.EndingDate)
            </span>
        </fieldset>
        <input name="submit" type="submit" value="Generar Reporte">
    }
}
