@using PagedList.Mvc
@using SolucionesARWebsite.ViewModels.Districts

@model IndexViewModel

@{
    ViewBag.Title = "SolucionesAR | Distritos";
    Layout = "~/Views/Shared/TableLayout.cshtml";
}

@section Messages {
}

@section ListTitle {
    DISTRITOS
}

@section ListPaging {
    @{      
        @Html.PagedListPager(Model.PagedItems,
            page => Url.Action("Index", new RouteValueDictionary {
               { "Page", page },
               { "EmailAddress", Model.EmailAddress },
               { "LastName", Model.LastName }
            }),
            PagedListRenderOptions.OnlyShowFivePagesAtATime)
    }   
}

@section ListActions {
    @Html.ActionLink("Nuevo Distrito", "Create", null, new { @class = "button" })
}

@section ListContent {
    <div class="entry jspScrollable">
        <div class="table_style">
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Canton
                    </th>
                    
                    <th></th>
                </tr>

                @foreach (var item in Model.PagedItems) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistrictId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantonId)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.DistrictId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}