@using PagedList.Mvc
@using SolucionesARWebsite2.Helpers
@using SolucionesARWebsite2.ViewModels.CreditProcesses

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Procesos de Credito";
    Layout = "~/Views/Shared/EditionLayout.cshtml";

}

@section Header {
    @if (Model.CreditProcessId > 0)
    {
        <h1>
            EDITAR PROCESO DE CREDITO</h1>
    }
    else
    {
        <h1>
            NUEVA PROCESO DE CREDITO</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}

@section EditionContent {
    @using (Html.BeginForm("Save", "CreditProcesses"))
    {
        @Html.HiddenFor(model => model.CreditProcessId)
        <input id="is-editor-displayed" type="hidden" value="false">
        <input id="is-new" type="hidden" value="false">
        <fieldset>
            <section class="edit-inline">
                @Html.LabelFor(model => model.Customer)
                <br />
                @Html.DropDownListForCustomersList(model => model.Customer.CustomerId)
            </section>
            <section class="edit-inline">
                @Html.LabelFor(model => model.Salesman)
                <br />
                @Html.DropDownListForUsersList(model => model.Salesman.UserId)
            </section>            
            <section class="edit-inline">
                @Html.LabelFor(model => model.CreditStatus)
                <br />
                @Html.DropDownListForCreditStatuses(model => model.CreditStatus.CreditStatusId, null)
            </section>         
            <section class="edit-inline">
                @Html.LabelFor(model => model.Product)
                <br />
                @Html.TextBoxFor(model => model.Product)
            </section>
        </fieldset> 
        
        <div class="table-content">   
            <div class="main-actions">
                @Html.ActionLink("Nuevo Flujo", "Create", null, new { @class = "button", @id = "create-credit-flow" })
            </div>
            <div class="entry jspScrollable" style="width: 100%;">
                <div class="table_style">
                    <table>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Financiera
                            </th>
                            <th>
                                Estado
                            </th>
                            <th colspan="2">
                                Acciones
                            </th>
                        </tr>                        
                        <tr id="editable-credit-flow-row">
                            <td>
                                -
                            </td>
                            <td class="editable-company-cell">
                                @Html.DropDownListForCompaniesList(model => model.FinantialCompany.CompanyId, new { @id = "company-credit-flow" })
                            </td>
                            <td class="editable-status-cell">
                                @Html.DropDownListForCreditStatuses(model => model.CreditStatus.CreditStatusId, new { @id = "status-credit-flow" })
                            </td>
                            <td>
                                -
                            </td>
                            <td class="editable-actions-cell">
                                @Html.ActionLink("Guardar", "SaveProcessFlow", null, new { @class = "button", @id = "save-credit-flow" }) |
                                @Html.ActionLink("Cancel", "CancelProcessFlow", null, new { @class = "button", @id = "cancel-credit-flow" })
                            </td>
                        </tr>
                        @foreach (var item in Model.PagedItems)
                        {
                            <tr>
                                <td>
                                    @Html.Label(item.CreditProcessXCompanyId.ToString(), new { @class = "credit-flow-id" })
                                </td>
                                <td class="editable-company-cell">
                                    @{ var companyName = Model.FinantialCompaniesList.FirstOrDefault(c => c.CompanyId.Equals(item.CompanyId)).CompanyName; }
                                    @Html.HiddenFor(modelItem => item.CompanyId)
                                    @Html.Label(companyName, new { @id = string.Format("company-label-{0}", item.CreditProcessXCompanyId) })
                                </td>
                                <td class="editable-status-cell">
                                    @Html.HiddenFor(modelItem => item.CreditStatusId)
                                    @Html.Label(item.CreditStatus.CreditStatusDescription, new { @id = string.Format("status-label-{0}", item.CreditProcessXCompanyId) })
                                </td>
                                <td>
                                    @Html.ActionLink("Detalles", "FlowDetails", new { creditProcessId = item.CreditProcessId, processFlowId = item.CreditProcessXCompanyId }, new { @class = "button" })
                                </td>
                                <td class="editable-actions-cell">
                                    @Html.ActionLink("Editar", "EditProcessFlow", new { id = item.CreditProcessXCompanyId }, new { @class = "edit-credit-flow button", @id = string.Format("edit-credit-flow-{0}", item.CreditProcessXCompanyId) }) |
                                    @Html.ActionLink("Eliminar", "DeleteProcessFlow", new { id = item.CreditProcessXCompanyId }, new { @class = "delete-credit-flow button", @id = string.Format("delete-credit-flow-{0}", item.CreditProcessXCompanyId) })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <input name="submit" type="submit" value="Guardar">
    }
}