@using SolucionesARWebsite2.Helpers
@using SolucionesARWebsite2.ViewModels.Districts

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Distritos";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Header {
    @if (Model.DistrictId > 0)
    {
        <h1>EDITAR DISTRITO</h1>
    }
    else
    {
        <h1>NUEVO DISTRITO</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}

@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("Save", "Districts"))
                {
                    @Html.HiddenFor(model => model.DistrictId)
                    <fieldset>
                        @Html.LabelFor(model => model.DistrictName)
                        @Html.TextBoxFor(model => model.DistrictName)
                        @Html.ValidationMessageFor(model => model.DistrictName)
                    </fieldset>
                    <fieldset>
                        <span>
                            @Html.LabelFor(model => model.ProvinceId)
                            @Html.DropDownListForProviceslList(ViewBag.ProvincesList as System.Collections.IEnumerable, model => model.ProvinceId)
                        </span>
                        <span>
                            @Html.LabelFor(model => model.CantonId)
                            @Html.DropDownListForCantonslList(ViewBag.CantonsList as System.Collections.IEnumerable, model => model.CantonId)
                        </span>
                    </fieldset>
                    
                    <br/><br/>
                    <input name="submit" type="submit" value="Guardar">
                }
            </div>
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ProvinceId").change(function () {
                var provinceId = $(this).val();
                $.getJSON("/Cantons/GetCantonsByProvice", { provinceId: provinceId },
                        function (result) {
                            var select = $("#CantonId");
                            select.empty();
                            $.each(result, function (index, itemData) {
                                select.append($('<option/>', {
                                    value: itemData.Value,
                                    text: itemData.Text
                                }));
                            });
                        });
            });
        });
    </script>
}
