@using SolucionesARWebsite2.Helpers
@using SolucionesARWebsite2.ViewModels.Users

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Usuarios";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Header {
    @if (Model.UserId > 0)
    {
        <h1>EDITAR USUARIO</h1>
        <div class="entry" style="overflow: hidden; padding: 0px; width: 410px; height: 40px;">
            <div class="jspContainer" style="width: 410px; height: 40px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px; width: 200px;">
                    <h3>Cashback: <span>@Model.Cashback</span></h3>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>NUEVO USUARIO</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}


@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("Save", "Users"))
                {
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.Cashback)
                    <fieldset>
                        <span>
                            @Html.LabelFor(model => model.IdentificationType) <br/>
                            @Html.DropDownListForIdenficationlList(model => model.IdentificationType.IdentificationTypeId)
                        </span>
                        @Html.ValidationMessageFor(model => model.IdentificationNumber)
                        @Html.EditorFor(model => model.IdentificationNumber)
                        @Html.EditorFor(model => model.Nationality)
                        @Html.EditorFor(model => model.Enabled)
                    </fieldset>
                    <fieldset>
                        @Html.EditorFor(model => model.LastName1)
                        @Html.EditorFor(model => model.LastName2)
                        @Html.EditorFor(model => model.FirstName)
                        @Html.EditorFor(model => model.Email)
                    </fieldset>
                    <fieldset>
                        <span>
                            @Html.LabelFor(model => model.Day)
                            <br />
                            @Html.DropDownListFor(model => model.Day, Enumerable.Range(1, 31).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "-- Day --")
                        </span>
                        <span>
                            @Html.LabelFor(model => model.Month)
                            <br />
                            @Html.DropDownListFor(model=> model.Month, Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat.GetMonthName(i) }), "-- Month --")
                        </span>
                        <span>
                        @Html.LabelFor(model => model.Year)
                        <br />
                        @Html.DropDownListFor(model => model.Year, Enumerable.Range(1920, DateTime.Now.Year).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "-- Year --")
                        </span>
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.EditorFor(model => model.Cellphone)
                    </fieldset>
                    <fieldset>
                        <span>
                            @Html.LabelFor(model => model.ProvinceId) <br/>
                            @Html.DropDownListForProviceslList(ViewBag.ProvincesList as System.Collections.IEnumerable, model => model.ProvinceId)
                        </span>
                        <span>
                            @Html.LabelFor(model => model.CantonId) <br/>
                            @Html.DropDownListForCantonslList(ViewBag.CantonsList as System.Collections.IEnumerable, model => model.CantonId)
                        </span>
                        <span>
                            @Html.LabelFor(model => model.DistrictId) <br/>
                            @Html.DropDownListForCantonslList(ViewBag.DistrictsList as System.Collections.IEnumerable, model => model.DistrictId)
                        </span>
                        @Html.EditorFor(model => model.Address1, new { style = "width=400px" })
                    </fieldset>
                    <fieldset>
                        @Html.EditorFor(model => model.ParentIdentificationNumber)
                        <span>
                            @Html.LabelFor(model => model.RelationshipType) <br/>
                            @Html.DropDownListForRelationshipTypeslList(model => model.RelationshipType.RelationshipTypeId)
                        </span>
                        <span>
                            @Html.LabelFor(model => model.UserRol) <br/>
                            @Html.DropDownListForRolesList(model => model.UserRol.RolId)
                        </span>
                        <span>
                            @Html.LabelFor(model => model.Company) <br/>
                            @Html.DropDownListForCompanieslList(model => model.Company.CompanyId)
                        </span>

                    </fieldset>
                
                    <div class="main-actions">
                        <input name="submit" type="submit" value="Guardar">
                    </div>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true
            });

            //display the required masks
            $("#IdentificationNumber").mask("9-9999-9999");
            $("#PhoneNumber").mask("9999-9999");
            $("#Cellphone").mask("9999-9999");
            $("#ParentIdentificationNumber").mask("?9-9999-9999");

            //handle the IdentificationNumber mask
            $("#IdentificationType_IdentificationTypeId").change(function () {
                var identificationType = $(this).val();
                //cédula
                if (identificationType == 1) {
                    $("#IdentificationNumber").mask("9-9999-9999");
                }
                else {
                    $("#IdentificationNumber").unmask();
                }
            });
          
            //handle the cantons values
            $("#ProvinceId").change(function () {
                var provinceId = $(this).val();
                $.getJSON("/Cantons/GetCantonsByProvice", { provinceId: provinceId },
                    function (result) {
                        var select = $("#CantonId");
                        select.empty();
                        $.each(result, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                        updateDistricts(result[0].Value);
                    });
            });

            //handle the districts values
            $("#CantonId").change(function () {
                var cantonId = $(this).val();
                updateDistricts(cantonId);
            });
        });
      
        function updateDistricts(cantonId) {
            $.getJSON("/Districts/GetDistrictsByCanton", { cantonId: cantonId },
                function(result) {
                    var select = $("#DistrictId");
                    select.empty();
                    $.each(result, function(index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        }
    </script>
}

