@using System.Globalization
@using SolucionesARWebsite2.ViewModels.Users

@model PayViewModel

@{
    ViewBag.Title = "SolucionesAR | Pagar";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Header {
    <h1>PAGAR USUARIO</h1>
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                <h3>Usuario: @Html.Label(string.Format("{0} {1} {2}", Model.FName, Model.LName1, Model.LName2)) </h3>
                <h3>Cedula: @Html.Label(Model.IdentificationNumber.ToString(CultureInfo.CurrentCulture)) </h3>
                <h3>Cashback: @Html.Label(string.Format(CultureInfo.CurrentCulture, "{0} colones", Model.Cashback)) </h3>
            </div>
        </div>
    </div>
}

@section Messages {
    @Html.ValidationSummary()
}

@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("SavePayment", "Users"))
                {
                    @Html.HiddenFor(model => model.UserId)
                    <fieldset>
                        @Html.EditorFor(model => model.Cashback)
                    </fieldset>
                
                    <br /><br />
                    <input name="submit" type="submit" value="Guardar">
                }
            </div>
        </div>
    </div>
}