@using SolucionesARWebsite2.Helpers
@using SolucionesARWebsite2.ViewModels.Stores

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Tiendas";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}


@section Header {
    @if (Model.StoreId > 0)
    {
        <h1>EDITAR TIENDA</h1>
    }
    else
    {
        <h1>NUEVA TIENDA</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}

@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("Save", "Stores"))
                {
                    @Html.HiddenFor(model => model.StoreId)
                    <fieldset>
                        @Html.EditorFor(model => model.StoreName)
                        <span>
                            @Html.LabelFor(model => model.Company)
                            <br />
                            @Html.DropDownListForCompanieslList(model => model.Company.CompanyId)
                        </span>
                    </fieldset>
                    <fieldset>
                        @Html.EditorFor(model => model.PhoneNumber1)
                        @Html.EditorFor(model => model.PhoneNumber2)
                        @Html.EditorFor(model => model.FaxNumber)
                    </fieldset>
                    <fieldset>
                        <span>
                            @Html.LabelFor(model => model.ProvinceId)
                            <br />
                            @Html.DropDownListForProviceslList(model => model.ProvinceId)
                        </span><span>
                            @Html.LabelFor(model => model.CantonId)
                            <br />
                            @Html.DropDownListForCantonslList(model => model.CantonId)
                        </span><span>
                            @Html.LabelFor(model => model.DistrictId)
                            <br />
                            @Html.DropDownListForDistrictslList(model => model.DistrictId)
                        </span>
                    </fieldset>
                        
                    <br/><br/>
                    <input name="submit" type="submit" value="Guardar">
                }
            </div>
        </div>
    </div>
    
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //display the required masks
            $("#PhoneNumber1").mask("9999-9999");
            $("#PhoneNumber2").mask("9999-9999");
            $("#FaxNumber").mask("9999-9999");

            //handle the cantons values
            $("#ProvinceId").change(function () {
                var provinceId = $(this).val();
                $.getJSON("/Cantons/GetCantonsByProvice", { provinceId: provinceId },
                    function (result) {
                        var select = $("#CantonId");
                        select.empty();
                        $.each(result, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                        updateDistricts(result[0].Value);
                    });
            });

            //handle the districts values
            $("#CantonId").change(function () {
                var cantonId = $(this).val();
                updateDistricts(cantonId);
            });
        });

        function updateDistricts(cantonId) {
            $.getJSON("/Districts/GetDistrictsByCanton", { cantonId: cantonId },
                function (result) {
                    var select = $("#DistrictId");
                    select.empty();
                    $.each(result, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        }
    </script>
}
