@using PagedList.Mvc
@using SolucionesARWebsite2.ViewModels.Stores

@model IndexViewModel

@{
    ViewBag.Title = "SolucionesAR | Tiendas";
    Layout = "~/Views/Shared/TableLayout.cshtml";
}

@section Messages {
}

@section ListTitle {
    TIENDAS
}

@section ListPaging {
    @{      
        @Html.PagedListPager(Model.PagedItems,
            page => Url.Action("Index", new RouteValueDictionary {
                   { "Page", page },
                   { "EmailAddress", Model.EmailAddress },
                   { "LastName", Model.LastName }
            }),
            PagedListRenderOptions.OnlyShowFivePagesAtATime)
    }   
}

@section ListActions {
    @Html.ActionLink("Nueva Tienda", "Create", null, new { @class = "button" })
}

@section ListContent {
    <div class="entry jspScrollable">
        <div class="table_style">
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Compañia
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>

                @foreach (var item in Model.PagedItems) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StoreId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StoreName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company.CompanyName)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.StoreId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
