@using SolucionesARWebsite.ModelsWebsite.Views

@model BaseViewModel
           
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@section PageContent {

    @{
        Html.RenderPartial("Header");
    }

    <div class="main-content">

        @using (@Html.BeginForm(Model.RouteValues))
        {
            @RenderSection("Messages", true);

            <div class="title">
                <h1>
                    @RenderSection("ListTitle", true)
                </h1>
            </div> 
            
            <div class="table-content">         
                <div class="main-actions">
                    @RenderSection("ListActions", true)
                </div>
                @RenderSection("ListContent", true)
            </div>
            
            <div class="">
                @RenderSection("ListPaging", true)
            </div>
        }
    </div>
}