@using SolucionesARWebsite2.ViewModels.CreditStatuses

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Estados de credito";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}


@section Header {
    @if (Model.CreditStatusId > 0)
    {
        <h1>EDITAR ESTADO DE CREDITO</h1>
    }
    else
    {
        <h1>NUEVO ESTADO DE CREDITO</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}


@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("Save", "CreditStatuses"))
                {
                    @Html.HiddenFor(model => model.CreditStatusId)

                    <fieldset>
                        @Html.LabelFor(model => model.CreditStatusDescription)
                        @Html.TextBoxFor(model => model.CreditStatusDescription)
                        @Html.ValidationMessageFor(model => model.CreditStatusDescription)
                    </fieldset>
                    
                    <br/><br/>
                    <input name="submit" type="submit" value="Guardar">
                }
            </div>
        </div>
    </div>
}