
@using SolucionesARWebsite.Helpers
@using SolucionesARWebsite.ModelsWebsite.Views.Transactions

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Ventas";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}


@section EditionContent {
    <div class="edition_content content_box ">
        
        @if (Model.TransactionId > 0)
        {
            <h1>EDITAR VENTA</h1>
        }
        else
        {
            <h1>NUEVA VENTA</h1>
        }

        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Save", "Users"))
                    {
                        @Html.HiddenFor(model => model.TransactionId)
                        <fieldset>
                            @Html.EditorFor(model => model.BillBarCode)
                            @Html.EditorFor(model => model.Amount)
                           <span>
                                @Html.LabelFor(model => model.Store) <br/>
                                @Html.DropDownListForStoresList(model => model.Store.StoreId)
                            </span>

                        </fieldset>
                        <fieldset>
                            <span>
                                @Html.LabelFor(model => model.SalesMan) <br/>
                                @Html.DropDownListForSalesManList(model => model.SalesMan.UserId)
                            </span>
                            <span>
                                @Html.LabelFor(model => model.Customer) <br/>
                                @Html.DropDownListForCustomersList(model => model.Customer.UserId)
                            </span>
                        </fieldset>
                            
                        <input name="submit" type="submit" value="Guardar">
                    }
                </div>
            </div>
        </div>
    </div>
}

