@using SolucionesARWebsite.Helpers
@using SolucionesARWebsite.ModelsWebsite.Views.Stores

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Tiendas";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}


@section EditionContent {
    <div class="edition_content content_box ">
        
        @if (Model.StoreId > 0)
        {
            <h1>EDITAR TIENDA</h1>
        }
        else
        {
            <h1>NUEVA TIENDA</h1>
        }

        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Save", "Stores"))
                    {
                        @Html.HiddenFor(model => model.StoreId)
                        <fieldset>
                            @Html.EditorFor(model => model.StoreName)
                            <span>
                                @Html.LabelFor(model => model.Company) <br/>
                                @Html.DropDownListForCompanieslList(model => model.Company.CompanyId)
                            </span>
                        </fieldset>
                        <fieldset>
                            <span>
                                @Html.LabelFor(model => model.District) <br/>
                                @Html.DropDownListForDistrictsList(model => model.District.DistrictId)
                            </span>
                        </fieldset>
                            
                        <input name="submit" type="submit" value="Submit">
                    }
                </div>
            </div>
        </div>
    </div>
}
