@using SolucionesARWebsite.Helpers
@using SolucionesARWebsite.ViewModels.Companies

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Compañias";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Messages {

}

@section EditionContent {
    <div class="edition_content content_box ">
        
        @if (Model.CompanyId > 0)
        {
            <h1>EDITAR COMPAÑIA</h1>
        }
        else
        {
            <h1>NUEVA COMPAÑIA</h1>
        }

        <div class="entry jspScrollable">
            <p class="note">Favor complete el siguiente formulario</p>
            <div class="jspContainer" style="width: 960px; height: 400px;">
                <div class="jspPane" style="padding: 15px 25px 0px; top: 0px;">
                    @using (Html.BeginForm("Save", "Companies"))
                    {
                        @Html.HiddenFor(model => model.CompanyId)
                        <fieldset>
                            @Html.EditorFor(model => model.CorporateId)
                            @Html.EditorFor(model => model.CompanyName)
                            @Html.EditorFor(model => model.CompanyNickname)
                        </fieldset>
                        <fieldset>
                            @Html.EditorFor(model => model.CashBackPercentaje)
                        </fieldset>
                        <input name="submit" type="submit" value="Guardar">
                    }
                </div>
            </div>
        </div>
    </div>
}
