@using SolucionesARWebsite.Helpers
@using SolucionesARWebsite.ModelsWebsite.Views.Companies

@model IndexViewModel

@{
    ViewBag.Title = "SolucionesAR | Compañias";
    Layout = "~/Views/Shared/TableLayout.cshtml";
}

@section Messages {
}

@section ListTitle {
    COMPAÑIAS
}

@section ListActions {
    @if (Model.CompaniesList.HasFilters())
    {
        @Html.ActionLink("Mostrar Todo", "Index", null, new { @class = "button" } )
    }
        @Html.ActionLink("Nueva Compañia", "Create", null, new { @class = "button" })
    }
}

@section ListContent {
    <div class="entry jspScrollable">
        <div class="table_style">
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Cédula Jurídica
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Porcentage
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.CompaniesList.Items) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CorporateId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CashBackPercentaje)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CompanyId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@section ListPaging {
    @{
        /*
        @Html.DropDownListForPaging(4, 5, Model.RouteValues)
        var totalLabel = Model.UsersList.TotalItems != 1 ? "users" : "user";
        @ListHelper.TotalItems(Model.UsersList.TotalItems, totalLabel)
        @ListHelper.Paging(Url, Model.UsersList)
        */
    }
}
