@using SolucionesARWebsite2.Helpers
@using SolucionesARWebsite2.ViewModels.Cantons

@model EditViewModel

@{
    ViewBag.Title = "SolucionesAR | Cantones";
    Layout = "~/Views/Shared/EditionLayout.cshtml";
}

@section Header {
    @if (Model.CantonId > 0)
    {
        <h1>EDITAR CANTON</h1>
    }
    else
    {
        <h1>NUEVO CANTON</h1>
    }
}

@section Messages {
    @Html.ValidationSummary()
}

@section EditionContent {
    <div class="entry jspScrollable">
        <div class="jspContainer">
            <div class="jspPane">
                @using (Html.BeginForm("Save", "Cantons"))
                {
                    @Html.HiddenFor(model => model.CantonId)
                    <fieldset>
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </fieldset>
                    <fieldset>
                        <span>
                            @Html.LabelFor(model => model.ProvinceId) <br/>
                            @Html.DropDownListForProviceslList(ViewBag.ProvincesList as System.Collections.IEnumerable, model => model.ProvinceId)
                            @Html.ValidationMessageFor(model => model.ProvinceId)
                        </span>
                    </fieldset>
        
                    <br /><br />     
                    <input name="submit" type="submit" value="Guardar">
                }
            </div>
        </div>
    </div>
}