@using PagedList.Mvc
@using SolucionesARWebsite2.ViewModels.Cantons

@model IndexViewModel

@{
    ViewBag.Title = "SolucionesAR | Cantones";
    Layout = "~/Views/Shared/TableLayout.cshtml";
}

@section Messages {
}

@section ListTitle {
    CANTONES
}

@section ListPaging {
    @{      
        @Html.PagedListPager(Model.PagedItems,
            page => Url.Action("Index", new RouteValueDictionary {
               { "Page", page },
               { "EmailAddress", Model.EmailAddress },
               { "LastName", Model.LastName }
            }),
            PagedListRenderOptions.OnlyShowFivePagesAtATime)
    }   
}

@section ListActions {
        @Html.ActionLink("Nuevo Canton", "Create", null, new { @class = "button" })
    }
}

@section ListContent {
    <div class="entry jspScrollable">
        <div class="table_style">
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Provincia
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>

                @foreach (var item in Model.PagedItems) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CantonId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Province.Name)
                        </td>
                        
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.CantonId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}